In [2]:
import pandas as pd
from sqlite3 import *
from sqlalchemy import *

In [ ]:
    # SELECT d.department_name, final_scores.avg_final_grade
    # FROM departments as d 
    # JOIN (

    # ) as final_scores ON d.department_id = final_scores.department_id
engine = create_engine("sqlite:///./student_score.db")
query = """
SELECT 
    c.course_name
FROM courses as c 
JOIN scores as s ON c.course_id = s.course_id 
GROUP BY c.course_name

"""
result_df = pd.read_sql(query, engine)
result_df

                    course_name  min_gpa
0              Academic Writing     9.01
1       Artificial Intelligence     5.54
2                      Auditing     2.61
3            British Literature     5.81
4                  Business Law     2.73
5                      Calculus     5.46
6                     Chemistry     2.36
7                     Civil Law     5.52
8             Computer Networks     7.80
9            Constitutional Law     4.74
10              Control Systems     6.04
11            Corporate Finance     8.85
12                 Criminal Law     3.80
13              Data Structures     5.53
14          Database Management     5.54
15             Digital Circuits     3.13
16            Digital Marketing     5.56
17                    Economics     6.32
18             Event Management     8.88
19          Financial Reporting     8.55
20              Fluid Mechanics     5.76
21       Hospitality Management     2.62
22    Human Resource Management     5.17
23        International Finance     2.53
24   Introduction to Philosophy     2.13
25          Investment Analysis     4.99
26               Linear Algebra     3.57
27             Machine Learning     8.29
28        Managerial Accounting     2.67
29             Material Science     4.00
30  Object-Oriented Programming     2.99
31                      Physics     1.96
32     Principles of Accounting     7.20
33      Principles of Marketing     3.23
34                  Programming     5.03
35              Public Speaking     3.08
36              Risk Management     2.85
37          Signals and Systems     2.83
38         Software Engineering     5.50
39         Statics and Dynamics     2.11
40               Tax Accounting     3.28
41               Thermodynamics     2.43
42   Tour Operations Management     2.89
43              Web Development     2.29