In [1]:
import pandas as pd
from sqlite3 import *
from sqlalchemy import *

In [5]:
engine = create_engine("sqlite:///../student_score.db")
query = """
        SELECT 
                    st.student_id,
                    st.student_name,
                    st.birthday,
                    sc.gpa,
                    d.department_name
                FROM students as st 
                JOIN scores as sc ON sc.student_id = st.student_id 
                JOIN departments as d ON d.department_id = st.department_id
                ORDER BY sc.gpa DESC 
                LIMIT 3 
"""
result_df = pd.read_sql(query, engine)
result_df

  student_id  student_name    birthday   gpa      department_name
0       S014    Chau Thi P  2000-07-09  9.29  Kế toán - Kiểm toán
1       S086    Lý Văn Sơn  2002-06-15  9.29                 Luật
2       S094  Đỗ Thị Hương  2001-05-20  9.10                 Luật